html {
  font-family: sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeffff;
}

#contents {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto 0 40px;
  padding: 0 16px;
  font-feature-settings: "halt";
  hanging-punctuation: allow-end;
  background-image: url(../img/bg.gif);
}

@media screen and (max-width: 480px) {
  #contents {
    width: auto;
  }

  #welcome_heading {
    font-size: 20px;
  }
  #contents p {
    font-size: 12px;
  }
  #about_me_heading {
    font-size: 16px;
  }
  #seal_img {
    width: 40%;
  }
  #face_img {
    width: 40%;
  }
}
