html {
  font-family: sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeffff;
}

#contents {
  overflow: hidden;
  max-width: 1024px;
  margin: 0 auto 0 40px;
  padding: 0 16px;
  font-feature-settings: "halt";
  hanging-punctuation: allow-end;
  background-image: url(../img/bg.gif);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

#contents h1,
#contents h2,
#contents h3,
#contents h4,
#contents h5,
#contents h6 {
  margin-top: 0;
  margin-bottom: 0;
}

#contents h1 {
  font-size: 32px;
}

#contents h1,
#contents h2 {
  font-weight: 600;
}

#contents h2 {
  font-size: 24px;
}

#contents h3 {
  font-size: 20px;
}

#contents h3,
#contents h4 {
  font-weight: 600;
}

#contents h4 {
  font-size: 16px;
}

#contents h5 {
  font-size: 14px;
}

#contents h5,
#contents h6 {
  font-weight: 600;
}

#contents h6 {
  font-size: 12px;
}

#contents p {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  #contents {
    width: auto;
  }

  #welcome_heading {
    font-size: 20px;
  }
  #contents p {
    font-size: 12px;
  }
  #about_me_heading {
    font-size: 16px;
  }
  #seal_img {
    width: 40%;
  }
  #face_img {
    width: 40%;
  }
}
