.nav {
  background-color: #afe2fa;
}

.navbar-nav .nav-link {
  color: #000;
}

.container {
  background-image: url('../../public/images/bg.png');
  background-repeat: repeat;
}

.footer {
  background-color:#f2f2f2;
  padding: 20px;
  text-align: center;
  color: #000;
}